//
// Color system
//

$white          :   #FFFFFF;
$black          :   #444444;
$black-700      :   #333333; 

$quarto-yellow  :   #F0C10F;
$quarto-brick   :   #B74C1D;


$light          :   #FFF;
$extraLight     :   #F2F2F2;
$silver         :   #BDBDBD;

$primary        :   $black;
$secondary      :   $quarto-yellow;
$success        :   #0DA7A9;
$info           :   $quarto-brick;
$danger         :   #FF4081;

$light-secondary:   #FFFF8B;

$component-active-bg: $silver;
$list-group-active-bg: $white;

$body-color     : $black;




