//
// Color system
//

$white          :   #FFFFFF;
$black          :   #444444;

$quarto-yellow  :   #F0C10F;
$tundora        :   #4A4A4A;
$quarto-brick   :   #B74C1D;


$light          :   #FFF;
$extraLight     :   #F2F2F2;
$silver         :   #BDBDBD;

$primary        :   $tundora;
$secondary      :   $quarto-yellow;
$success        :   #0DA7A9;
$info           :   $quarto-brick;
$danger         :   #FF4081;







