//
// Color system
//

$white          :   #FFFFFF;
$success        :   #0DA7A9;
$danger         :   #FF4081;
$quarto-yellow  :   #F0C10F;
$tundora        :   #4A4A4A;

$secondary        :   $quarto-yellow;
$primary      :   $tundora;
$light      :      #FFF;