// Overriding Input variables of bootstrap

$input-btn-padding-y            :   0.625rem;
$input-btn-padding-x            :   0.9375rem;
$input-btn-line-height          :   1;
$input-btn-focus-width          :   0rem !default;

$input-bg                       :   $white;
$input-color                    :   $primary;
$input-border-color             :   $primary;
$input-focus-border-color       :   $secondary;

$input-inverted-bg              :   $input-color;
$input-inverted-color           :   $input-bg;
$input-inverted-border-color    :   $input-bg;


$input-disabled-bg              :   $extraLight;  
$input-disabled-border-color    :   $silver;

$form-check-input-gutter        :     0rem;