// Overriding Input variables of bootstrap

$input-btn-padding-y            :   0.625rem;
$input-btn-padding-x            :   0.9375rem;
$input-btn-line-height          :   1;
$input-btn-focus-width          :   0rem !default;

$border-width:                          1px !default;
$input-btn-border-width:                $border-width !default;
$input-border-width:                    $input-btn-border-width !default;
$input-height-border:                   $input-border-width * 2 !default;
$input-height-inner:                    ($font-size-base * $input-btn-line-height) + ($input-btn-padding-y * 2) !default;
$input-height:                          calc(#{$input-height-inner} + #{$input-height-border}) !default;

$input-bg                       :   $white;
$input-color                    :   $primary;
$input-border-color             :   $primary;
$input-focus-border-color       :   $secondary;

$input-inverted-bg              :   $input-color;
$input-inverted-color           :   $input-bg;
$input-inverted-border-color    :   $input-bg;


$input-disabled-bg              :   $extraLight;  
$input-disabled-border-color    :   $silver;

$form-check-input-gutter        :     0rem;