/*!
Typography Variables
 */


// Fonts
$font-family-oswald : Oswald, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-base   : $font-family-oswald;
$font-size-base     : 0.6875rem !default;