/*!
Typography Variables
 */


// Fonts
:root{
   font-size: 16px;
}

$font-family-oswald : Oswald, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-base   : $font-family-oswald;
$font-size-base     : 0.875rem !default;

$font-family-roboto : Roboto, Sans;
$line-height-regular: 1.5;

$h1-font-size       : $font-size-base * 1.714;
$h2-font-size       : $font-size-base * 1.285;
$h3-font-size       : $font-size-base * 1.142;
$h4-font-size       : $font-size-base;
$h5-font-size       : $font-size-base * 0.785;

$display3-size      :  3rem;
$display4-size      :  1.875rem;