<header class="header">
  <nav class="navbar navbar-expand-md navbar-light bg-light px-4">
    <a href="#" class="navbar-brand">
      <img src="./assets/img/logo.svg" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainnavbar">
      <span class="navar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainnavbar">
      <ul class="navbar-nav pull-right ml-auto align-content-center">
        <li class="nav-item active">
          <a href="#" class="nav-link">
            <i class="icon icon-glass"></i>
          </a>
        </li>
        <li class="nav-item active">
          <a href="#" class="nav-link">
            <i class="icon icon-plane"></i>
          </a>
        </li>
        <li class="nav-item active">
          <a href="#" class="nav-link">
            <i class="icon icon-add"></i>
          </a>
        </li>
        <li class="nav-item active">
          <a href="#" class="nav-link">
            <i class="icon icon-bell"></i>
          </a>
        </li>
        <li class="nav-item active">
          <a href="#" class="nav-link user-circle">
            <!-- <img src="./assets/img/user1.png" alt=""> -->
            <span>SR</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>