/*!

 =========================================================
 * Typography
 =========================================================

 */

html {
  line-height: 1.15; // 3
  -webkit-text-size-adjust: 100%; // 4
  -ms-text-size-adjust: 100%; // 4
  -ms-overflow-style: scrollbar; // 5
  -webkit-tap-highlight-color: rgba($black, 0); // 6
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: $font-family-oswald;
}


p{
    font-family: $font-family-roboto;
    line-height: $line-height-regular;
    a{
        font-weight: 700;
        text-decoration: underline;

        transition: all 0.3s ease-in;                @include hover;
        -webkit-transition: all 0.3s ease-in;                @include hover;
        -moz-transition: all 0.3s ease-in;                @include hover;
        -ms-transition: all 0.3s ease-in;                @include hover;
        -o-transition: all 0.3s ease-in;                @include hover;
        
        @include hover{
            color: $secondary;
            text-decoration: underline;
        }
    }
}
ul,ol{
    font-family: $font-family-roboto;
}

a{
    &:hover{
        text-decoration: none;
    }
}

label{
    span.required{
        color: $danger;
    }
}

input, select, optgroup, textarea{
    font-family: $font-family-roboto;
}


/* 
// Text Colors
*/
.text-silver{
    color: $silver;
}

.text-highlight{
    background-color: $light-secondary;
    color: $primary;
    padding-left: rem(5px);
    padding-right: rem(5px);
    display: inline-block;
}

.font-weight-medium{
    font-weight: $headings-font-weight;
}

.post-meta{
    font-size: $font-size-base * 0.8125;
}

.post-meta-md{
    font-size: $font-size-base * 0.75;
}

.post-meta-sm{
    font-size: $font-size-base * 0.6875;
}