/*!

 =========================================================
 * Typography
 =========================================================

 */

html {
  line-height: 1.15; // 3
  -webkit-text-size-adjust: 100%; // 4
  -ms-text-size-adjust: 100%; // 4
  -ms-overflow-style: scrollbar; // 5
  -webkit-tap-highlight-color: rgba($black, 0); // 6
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: $font-family-oswald;
}

label{
    span.required{
        color: $danger;
    }
}

.font-weight-medium{
    font-weight: $headings-font-weight;
}

.post-meta{
    font-size: $font-size-base * 0.8125;
}

.post-meta-md{
    font-size: $font-size-base * 0.75;
}

.post-meta-sm{
    font-size: $font-size-base * 0.6875;
}