<div class="container-fluid">
  <div class="row">
    <div class="col text-center py-5">
      <img src="/assets/img/quarto-ui-kit-80.jpg" alt="">
    </div>
  </div>
  <div class="row px-4">
    <div class="col">
      <h3>Basic Elements</h3>
    </div>
  </div>
  <!-- Buttons -->
  <div class="row px-4 mt-4">
    <div class="col">
      <h5 class="">Buttons</h5>
      <div>
        <button class="btn btn-primary mr-3" type="button">View All Videos</button>
        <button class="btn btn-light mr-3" type="button"><i class="icon pe-7s-plus"></i> Add Category</button>
        <button class="btn btn-light mr-3" type="button">Add Category</button>
      </div>
    </div>
  </div>

  <!-- Input fields -->
  <div class="row px-4 mt-4">
    <div class="col-12">  
      <h5 class="">Inputs</h5>      
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <label for="default-input">Label <span class="required">*</span></label>
        <input type="text" class="form-control" id="default-input" placeholder="Default Input">
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <label for="active-input">Label <span class="required">*</span></label>
        <input type="text" class="form-control" id="active-input" autofocus placeholder="Active Input">
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <label for="success-input">Label <span class="required">*</span></label>
        <input type="text" class="form-control is-valid" id="success-input" autofocus placeholder="Success Input">
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <label for="error-input">Label <span class="required">*</span></label>
        <input type="text" class="form-control is-invalid" id="error-input" autofocus placeholder="Error Input">
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <label for="disabled-input">Label <span class="required">*</span></label>
        <input type="text" class="form-control" id="disabled-input" autofocus placeholder="Disabled Input" disabled>
      </div>
    </div>
  </div>
  <div class="row px-4 mt-4">
    <!-- Checkboxes -->
    <div class="col-lg-3">
      <h5 class="mb-3">Checkboxes</h5>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="check1">
        <label for="check1" class="form-check-label">
          <span class="check"></span>
          Unchecked
        </label>
      </div>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="check2" checked>
        <label for="check2" class="form-check-label">
          <span class="check"></span>
          Checked
        </label>
      </div>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="check3" disabled>
        <label for="check3" class="form-check-label">
          <span class="check"></span>
          Disabled Unchecked
        </label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="check4" disabled checked>
        <label for="check4" class="form-check-label">
          <span class="check"></span>
          Disabled Checked
        </label>
      </div>
    </div>
    <!-- Radio buttons -->
    <div class="col-lg-3">
      <h5 class="mb-3">Radio Buttons</h5>
      <div class="form-check mb-3">
        <input type="radio" id="radio1" name="radios" class="form-check-input">
        <label for="radio1" class="form-check-label">
          <span class="circle"></span>
          Radio is off
        </label>
      </div>
      <div class="form-check mb-3">
        <input type="radio" id="radio2" name="radios" class="form-check-input" checked>
        <label for="radio2" class="form-check-label">
          <span class="circle"></span>
          Radio is on
        </label>
      </div>
      <div class="form-check mb-3">
        <input type="radio" id="radio3" name="radios" class="form-check-input" disabled>
        <label for="radio3" class="form-check-label">
          <span class="circle"></span>
          Disabled radio is off
        </label>
      </div>
      <div class="form-check mb-3">
        <input type="radio" id="radio4" name="radios" class="form-check-input" disabled checked>
        <label for="radio4" class="form-check-label">
          <span class="circle"></span>
          Disabled radio is on
        </label>
      </div>
    </div>

    <!-- Select Dropdown -->
    <div class="col-lg-3">
      <h5 class="mb-3">
        Dropdown
      </h5>
      <div class="form-group row">
        <label for="select1" class="col-form-label col-md-3">Sort By: </label>
        <div class="col-md-4">
          <!-- <select name="" id="" class="form-control">
            <option value="az">A-Z</option>
            <option value="za">Z-A</option>
            <option value="mv">Most Viewed</option>
            <option value="date">Date</option>
          </select> -->
          <ng-select [searchable]="false" [(ngModel)]="selectedSort">
            <ng-option *ngFor="let sort of sorts" [value]="sort.id">{{sort.name}}</ng-option>
          </ng-select>
        </div>
      </div>
    </div>
  </div>

  

</div>
