<div class="f-wrapper">
  <div class="f-header">
    <div class="container">
      <div class="row">
        <div class="col py-5">
          <h1 class="display-4">Quarto UI Style Guide</h1>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">  
  <!-- typo -->
  <div class="row px-4 mt-4">
    <div class="col">
      <h2>Typography</h2>
      <hr>
    </div>
  </div>

  <div class="row px-4 mt-4">
    <!-- Headings -->
    <div class="col-6">
      <h4>Headings</h4>
      <ul class="f-list f-list_typo mt-3">
        <li><h1>H1 - 24px</h1></li>
        <li><h2>H2 - 18px</h2></li>
        <li><h3>H3 - 16px</h3></li>
        <li><h4>H4 - 14px</h4></li>
        <li><h5>H5 - 11px</h5></li>
      </ul>
    </div>
    <!-- /headings -->

    <!-- paragraph and list items -->
    <div class="col-6">
      <h4 class="mb-3">Bodytext</h4>
      <p>For a while, I have been noticing UX design portfolio “about” descriptions and what they say about a designer. A good majority of them tell me nothing about the designer as a person that allows me to differentiate them from their work.</p>
      <p>For a while, I have been noticing <a href="#">UX design</a>  portfolio “about” descriptions and what they say about a designer.</p>
      
      <ul class="f-list_ul mt-3">
        <li>Unordered List</li>
        <li>Unordered List</li>
      </ul>

      <ol class="f-list_ol mt-3">
        <li>Ordered List</li>
        <li>Ordered List</li>
      </ol>

    </div>
    <!-- /paragraph and list items -->
  </div>

  <!-- typo end -->
  
  
  
  <!-- Buttons -->
  <div class="row px-4 mt-4">
    <div class="col">
      <h2>Buttons</h2>
      <hr>
    </div>
  </div>

  <div class="row px-4 mt-4">
    <div class="col-8 pb-4">
        <button class="btn btn-primary mr-3" type="button">Primary Button</button>
      <button class="btn btn-secondary mr-3" type="button">Secondary Button</button>
      <button class="btn btn-light btn-with-icon mr-3" type="button"><i class="icon pe-7s-plus"></i> Add Category</button>
      <button class="btn btn-light mr-3" type="button">Add Category</button>

      
    </div>
    <div class="col-4">
        <div _ngcontent-c1="" class="input-group"><input _ngcontent-c1="" class="form-control" placeholder="Search attachments" type="text"><div _ngcontent-c1="" class="input-group-append"><button _ngcontent-c1="" class="btn btn-primary btn-with-icon mr-1"><i _ngcontent-c1="" class="icon icon-add"></i></button><button _ngcontent-c1="" class="btn btn-primary btn-with-icon"><i _ngcontent-c1="" class="icon icon-filter"></i></button></div></div>
    </div>
  </div>



  <!-- Form -->

  <div class="row px-4 mt-4">
    <div class="col">
      <h2>Form Elements</h2>
      <hr>
    </div>
  </div>

  <div class="row px-4">
    <div class="col-lg-3">
      <div class="form-group">
        <label for="default-input">Label <span class="required">*</span></label>
        <input type="text" class="form-control" id="default-input" placeholder="Default Input">
      </div>
    </div>
    
    <div class="col-lg-3">
      <div class="form-group">
        <label for="active-input">Label <span class="required">*</span></label>
        <input type="text" class="form-control" id="active-input" autofocus placeholder="Active Input">
      </div>
    </div>
    
    <div class="col-lg-3">
      <div class="form-group">
        <label for="success-input">Label <span class="required">*</span></label>
        <input type="text" class="form-control is-valid" id="success-input" autofocus placeholder="Success Input">
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label for="error-input">Label <span class="required">*</span></label>
        <input type="text" class="form-control is-invalid" id="error-input" autofocus placeholder="Error Input">
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label for="disabled-input">Label <span class="required">*</span></label>
        <input type="text" class="form-control" id="disabled-input" autofocus placeholder="Disabled Input" disabled>
      </div>
    </div>
  </div>

  <div class="row px-4 mt-4">
    <div class="col-lg-4">
      <div class="input-group">
        <input type="text" placeholder="Search attachments" class="form-control">
        <div class="input-group-append">
          <button class="btn btn-primary btn-with-icon mr-1"><i class="icon icon-add"></i></button>
          <button class="btn btn-primary btn-with-icon"><i class="icon icon-filter"></i></button>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <input type="text" placeholder="Search attachments" class="form-control">
        <div class="input-group-append">
          <button class="btn btn-primary btn-with-icon"><i class="icon icon-add"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="row px-4 mt-4">
    <!-- Checkboxes -->
    <div class="col-lg-4">
      <h5 class="mb-3">Checkboxes</h5>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="check1">
        <label for="check1" class="form-check-label">
          <span class="check"></span>
          Unchecked
        </label>
      </div>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="check2" checked>
        <label for="check2" class="form-check-label">
          <span class="check"></span>
          Checked
        </label>
      </div>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="check3" disabled>
        <label for="check3" class="form-check-label">
          <span class="check"></span>
          Disabled Unchecked
        </label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="check4" disabled checked>
        <label for="check4" class="form-check-label">
          <span class="check"></span>
          Disabled Checked
        </label>
      </div>
    </div>
    <!-- Radio buttons -->
    <div class="col-lg-4">
      <h5 class="mb-3">Radio Buttons</h5>
      <div class="form-check mb-3">
        <input type="radio" id="radio1" name="radios" class="form-check-input">
        <label for="radio1" class="form-check-label">
          <span class="circle"></span>
          Radio is off
        </label>
      </div>
      <div class="form-check mb-3">
        <input type="radio" id="radio2" name="radios" class="form-check-input" checked>
        <label for="radio2" class="form-check-label">
          <span class="circle"></span>
          Radio is on
        </label>
      </div>
      <div class="form-check mb-3">
        <input type="radio" id="radio3" name="radios" class="form-check-input" disabled>
        <label for="radio3" class="form-check-label">
          <span class="circle"></span>
          Disabled radio is off
        </label>
      </div>
      <div class="form-check mb-3">
        <input type="radio" id="radio4" name="radios" class="form-check-input" disabled checked>
        <label for="radio4" class="form-check-label">
          <span class="circle"></span>
          Disabled radio is on
        </label>
      </div>
    </div>

    <!-- Select Dropdown -->
    <div class="col-lg-4">
      <h5 class="mb-3">
        Dropdown
      </h5>
      <div class="form-group row">
        <label for="select1" class="col-form-label col-md-3">Sort By: </label>
        <div class="col-md-4">
          <ng-select [searchable]="false" [(ngModel)]="selectedSort">
            <ng-option *ngFor="let sort of sorts" [value]="sort.id">{{sort.name}}</ng-option>
          </ng-select>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="mt-5"></div>
