/*
// Breadcrumb
*/
.breadcrumb{
    background-color: $extraLight;
    ul{
        li{
            &.list-inline-item{
                margin: 0px;
            }
            
            a{
                display: block;
                padding: 10px 15px;
                line-height: 1;
                background-color: $silver;
            }
        }
    }
}