//
// Button styles
//

.btn{
  text-transform: uppercase;
  font-size: $font-size-base;
  height: $input-height;
}

.btn-primary{
    color: $secondary;
    @include hover{
        color: $secondary;
    }   
}

.btn-light{
    background-color: $white;
    border-color: $quarto-yellow;
    @include hover{
        border-color: $quarto-yellow;
    }
    .icon{
        margin-right: 10px;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active{
        border-color: $quarto-yellow;
    }
}

.btn-rounded{
    width: $input-height;
    border-radius: 100%;
    text-align: center;
    padding: 0 0;
    font-size: rem(20px);   
    i:before{
        line-height: calc(#{$input-height} - 2px);
        vertical-align: middle;
    }
}

.btn-with-icon{
    .icon{
        font-size: 1.25rem;
        vertical-align: middle;
        margin-top: -0.25rem;
    }
    line-height: 1.25rem;
    padding: calc((#{$input-btn-padding-y}/1.4285) - (#{$border-width}*2)) $input-btn-padding-x;
}