//
// Button styles
//

.btn{
  text-transform: uppercase;
  font-size: $font-size-base;
  height: $input-height;
  letter-spacing: 1px;
}

.btn-primary{
    color: $secondary;
    @include hover{
        background: $secondary;
        color: $primary;
        border-color: $secondary;
    }   
}

.btn-light{
    background-color: transparent;
    border-color: $secondary;
    @include hover{
        background-color: $secondary;
        border-color: $secondary;
    }
    .icon{
        margin-right: 10px;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active{
        border-color: $secondary;
    }
}

.btn-rounded{
    width: $input-height;
    border-radius: 100%;
    text-align: center;
    padding: 0 0;
    font-size: rem(20px);   
    i:before{
        line-height: calc(#{$input-height} - 2px);
        vertical-align: middle;
    }
}

.btn-with-icon{
    .icon{
        font-size: $btn-icon-font-size;
        vertical-align: middle;
        margin-top: -0.25rem;
    }
    line-height: 1.25rem;
    padding: calc(#{$input-btn-padding-y} - ((#{$btn-icon-font-size} - #{$font-size-base})/2)) $input-btn-padding-x;
}