//
// Button styles
//

button{
  text-transform: uppercase;
}

.btn-light{
    background-color: $white;
    border-color: $quarto-yellow;
    @include hover{
        border-color: $quarto-yellow;
    }
    .icon{
        margin-right: 10px;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active{
        border-color: $quarto-yellow;
    }
}

.btn-with-icon{
    .icon{
        font-size: 1.25rem;
        vertical-align: middle;
        margin-top: -0.25rem;
    }
    line-height: 1.25rem;
    padding: calc(#{$input-btn-padding-y}/1.4285) $input-btn-padding-x;
}