//
// Textual form controls
//
.form-control{
    // height: auto;
    // font-size: $input-font-size;

    &::placeholder{
        color: lighten($input-color, 40%);
    }
    &:focus{
        &::placeholder{
            color: $input-color;
        }
    }
    &:disabled,
    &[readonly] {
        opacity: 1;
        border-color: $input-disabled-border-color;
    }
    &.inverted-color{
        color: $input-inverted-color;
        background-color: $input-inverted-bg;
        border: $input-border-width solid $input-inverted-border-color;
    }
}    

select.form-control{
    padding: calc( #{$input-padding-y} - 0.3rem) $input-padding-x;
}

.input{
    &-group{
        &-append{
            .btn{
                &-with-icon{
                    border: 0;
                }
            }
        }
    }
}