//
// Textual form controls
//
.form-control{
    &::placeholder{
        color: lighten($input-color, 40%);
    }
    &:focus{
        &::placeholder{
            color: $input-color;
        }
    }
    &:disabled,
    &[readonly] {
        opacity: 1;
        border-color: $input-disabled-border-color;
    }
}    