// 
// List groups
// 

.list-group-item{
    &.active{
        color: $primary;
    }
}
.list-group-icons{
    li{
        padding: rem(5px) rem(0px);
        .form-check{
            .form-check-label{
                padding-left: 0px;
                position: initial;
                .check{
                    top: 0px;
                }
            }
        } 
        p{
            margin-bottom: 0px;
        } 
        a{
            .icon{
                font-size: 1.375rem;
            }
        }      
    }
    &.attachment-list{
        li{
            padding: rem(5px) rem(20px) rem(5px) rem(0px);
        }
    }
}

.section-list{
    li{
        width: calc(100% - 20px);
        margin-left: 20px;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;

        h4{
            margin-bottom: 0;
        }

        a{
            color: $silver;
        }

        &:before{
            content: '';
            width: rem(10px);
            height: rem(10px);
            border-radius: 100%;
            background-color: $silver;
            position: absolute;
            top: 55%;
            left: -15px;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            z-index: 2;
        }

        &:after{
            content: '';
            width: 1px;
            height: 100%;
            background-color: $extraLight;
            position: absolute;
            left: -15px;
            z-index: 1;
        }

        &:first-child{
            &:after{
                height: 50%;
                top: 50%;
            }
        }
        &:last-child{
            &:after{
                height: 50%;
                top: 0%;
            }
        }
        &.active{
            border-top: 1px solid $extraLight;
            border-bottom: 1px solid $extraLight;
            a{
                color: $primary;
            }
            &:before{
                background-color: $secondary;
            }
        }
    }
}
.attachment-type{
    font-size: 0.5rem;
    padding: rem(2px) rem(4px) ;
    line-height: 1;
    vertical-align: middle;
    background-color: $light-secondary;
}