<!-- BreadCrumb -->
<div class="row breadcrumb">
  <div class="col-12">
    <ul class="list-unstyled list-inline mb-0">
      <li class="list-inline-item ">
        <a routerLink="/home">
          Home
        </a>
      </li>
      <li class="list-inline-item active">
        <a routerLink="/home">
          Create Document
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- End BreadCrumb -->

<section class="create-document mt-3">
  <div class="section-title">
    <h1>Create Document</h1>    
  </div>
  <div class="row mt-3">
    <div class="col-lg-9 col-xl-10">

      <div class="form-group">
        <label for="docTitle">Document Title</label>
        <input type="text" class="form-control" id="docTitle" placeholder="Get Rid Of Your Generic “About” Designer Statement">
      </div>

      <div class="section-title mt-4 mb-2">
        <h4 class="text-uppercase font-weight-bold mb-0">Document Section Details</h4>
      </div>

      <form [formGroup]="sectionForm" (ngSubmit)="sectionSubmit()" >
        <div class="form-group">
          <label for="sectionTitle">Document Section Title</label>
          <input type="text" formControlName="title" class="form-control" id="sectionTitle"  placeholder="Type your section title here">
        </div>
        <div class="form-group">
          <label for="sectionDesc" >Document Section Description</label>
          <textarea [froalaEditor]="options" formControlName="description" ></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-secondary" type="submit" [disabled]="!sectionForm.valid">Done Editing Section</button>
        </div>
      </form>
    </div>

    <div class="col-lg-3 col-xl-2 page_right-sidebar">
      <div class="form-group">
        <button class="btn btn-secondary w-100">Submit Document</button>
      </div>
      <!-- widget start -->
      <div class="sidebar-widget">
        <div class="section-title mt-4 mb-3">
          <h4 class="text-uppercase font-weight-bold">Category</h4>
        </div>
        <div class="input-group">
          <input type="text" placeholder="Search attachments" class="form-control">
          <div class="input-group-append">
            <button class="btn btn-primary btn-with-icon"><i class="icon icon-add"></i></button>
          </div>
        </div>
      </div>
      <!-- widget end -->

      <!-- widget start -->
      <div class="sidebar-widget">
        <div class="widget-title">
          <div class="section-title mt-4 mb-3">
            <h4 class="text-uppercase form-weight-bold">
              section of this Document
              <a href="" (click)="collapse()" aria-controls="docSectionList" [attr.aria-expanded]="!isCollapsed">
                <i class="icon-arrow-top icon" ></i>
              </a>
            </h4>
          </div>
        </div>
        <div class="widget-body" id="docSectionList" [ngbCollapse]="isCollapsed">
          <div class="form-group" >
            <label for="" class="d-block">Completed <span class="float-right">{{percentageComplete}}%</span></label>
            <div class="progress">
              <div class="progress-bar bg-secondary" [ngStyle]="{'width': percentageComplete + '%'}"></div>
            </div>
            
          </div>
          <ul class="list-group list-group-flush list-group-icons d-flex justify-content-end section-list" [sortablejs]="sections" [sortablejsOptions]="{ handle: '.handle' }" >
            <li class="list-group-item" *ngFor="let section of sections; let i of index" (click)="getSectionInfo(section)" [ngClass]="{active: selectedSectionId == section.id}">
              <h4 class="mr-auto py-2">{{section.title}}</h4>
              <a href="" class="ml-2 handle">
                <i class="icon icon-option"></i>
              </a>
              <a href="#" (click)="getSectionInfo(section)" class="ml-2">
                <i class="icon icon-edit"></i>
              </a>
              <a href="#" class="ml-2 text-danger" (click)="deleteSection(i)">
                <i class="icon icon-delete"></i>
              </a>
            </li>
          </ul>
          <div class="input-group mt-3">
            <input type="text" placeholder="Add Section" class="form-control" [(ngModel)]="inputSections">
            <div class="input-group-append">
              <button class="btn btn-primary btn-with-icon" (click)="addSection()"><i class="icon icon-add"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- widget end -->
      
      <!-- widget start -->
      <div class="sidebar-widget">
        <div class="widget-title section-title mt-4 mb-3">
          <h4 class="text-uppercase form-weight-bold">
            Manage Attachment(s)
            <a href="" (click)="attchCollapse()" aria-controls="docAttachmentList" [attr.aria-expanded]="!attchCollapsed">
              <i class="icon-arrow-top icon"></i>
            </a>
          </h4>
        </div>     
        <div class="widget-body" id="docAttachmentList" [ngbCollapse]="attchCollapsed">
          <div class="form-group">
            <div class="input-group">
              <input type="text" placeholder="Search attachments" class="form-control">
              <div class="input-group-append">
                <button class="btn btn-primary btn-with-icon mr-1"><i class="icon icon-add"></i></button>
                <button class="btn btn-primary btn-with-icon"><i class="icon icon-filter"></i></button>
              </div>
            </div>
          </div>
          <ul class="list-group list-group-flush list-group-icons attachment-list">
            <li class="list-group-item d-flex align-items-center">
              <a href="#" class="mr-auto py-2">
                <span class="text-uppercase attachment-type">docx</span>
                Construction.docx
              </a>
              <a href="#" class=""><i class="icon icon-files"></i></a>
              <div class="form-check ml-2">
                <input type="checkbox" class="form-check-input" id="check1">
                <label for="check1" class="form-check-label">
                  <span class="check"></span>

                </label>
              </div>
            </li>
            <li class="list-group-item d-flex align-items-center">
              <a href="#" class="mr-auto py-2">
                <span class="text-uppercase attachment-type">docx</span>
                Construction.docx
              </a>
              <a href="#" class=""><i class="icon icon-files"></i></a>
              <div class="form-check ml-2">
                <input type="checkbox" class="form-check-input" id="check1">
                <label for="check1" class="form-check-label">
                  <span class="check"></span>

                </label>
              </div>
            </li>
            <li class="list-group-item d-flex align-items-center">
              <a href="#" class="mr-auto py-2">
                <span class="text-uppercase attachment-type">docx</span>
                Construction.docx
              </a>
              <a href="#" class=""><i class="icon icon-files"></i></a>
              <div class="form-check ml-2">
                <input type="checkbox" class="form-check-input" id="check1">
                <label for="check1" class="form-check-label">
                  <span class="check"></span>

                </label>
              </div>
            </li>
            <li class="list-group-item d-flex align-items-center">
              <a href="#" class="mr-auto py-2">
                <span class="text-uppercase attachment-type">docx</span>
                Construction.docx
              </a>
              <a href="#" class=""><i class="icon icon-files"></i></a>
              <div class="form-check ml-2">
                <input type="checkbox" class="form-check-input" id="check1">
                <label for="check1" class="form-check-label">
                  <span class="check"></span>

                </label>
              </div>
            </li>
          </ul>
        </div> 
        
      </div>
      <!-- widget end -->
    </div>
  </div>
</section>