<section class="videos-section">
  <div class="section-title mb-4">
    <h1>Videos</h1>
    <button class="btn btn-secondary float-right ml-2" type="button">View All Videos</button>
    <div class="sorting-on-title form-group d-inline-block">
      <div class="select-container">
        <ng-select [searchable]="false" [(ngModel)]="videoSorts">
          <ng-option *ngFor="let vidSort of vidSorts" [value]="vidSort.id">{{vidSort.name}}</ng-option>
        </ng-select>
      </div>
      <label for="select1" class="">Sort By: </label>
    </div>
  </div>
  <div class="section-content">
    <owl-carousel [options]="{items: 4, dots: false, margin: 15, navigation: false}">
      <div class="item" *ngFor="let video of videos" >
        <div class="card">
          <img [src]="video.thumb" alt="" class="card-img-top">
          <div class="card-body">
            <h2>{{video.title}}</h2>
            <p class="post-meta mb-0">{{video.views}} views - {{video.year}} Year ago</p>
          </div>
        </div>
      </div>
    </owl-carousel>

    <div class="col-12 text-center mt-4">
      <button class="btn btn-secondary">Load More Videos</button>
    </div>
  </div>
</section>