<section class="explore-category">
  <div class="section-title">
    <h1>Explore Category</h1>
    <div class="sorting-on-title form-group d-inline-block">

      <div class="select-container">
        <ng-select [searchable]="false" [(ngModel)]="ExploreCatSort">
          <ng-option *ngFor="let sort of sorts" [value]="sort.id">{{sort.name}}</ng-option>
        </ng-select>
      </div>
      <label for="select1" class="">Sort By: </label>
    </div>
  </div>
  <div class="section-content row mt-4">
    <div class="col-lg-3 mb-4" *ngFor="let exploreCat of explore_cats">
      <div class="card category-card">
        <div class="card-body">
          <h4 class="card-title mb-4 text-uppercase">
            {{exploreCat.title}}
          </h4>
          <div class="category-stats">
            <div class="category-stat_item">
              <h5>{{exploreCat.articles}}</h5>
              <h5 class="font-weight-light text-uppercase mb-0">
                Article
              </h5>
            </div>
            <div class="category-stat_item">
              <h5>{{exploreCat.videos}}</h5>
              <h5 class="font-weight-light text-uppercase mb-0">
                Videos
              </h5>
            </div>
            <div class="category-stat_item">
              <h5>{{exploreCat.viewed}}</h5>
              <h5 class="font-weight-light text-uppercase mb-0">
                Viewed
              </h5>
            </div>

            <div class="category-stat_users">
              <ul class="list-unstyled list-inline">
                <li>
                  <img [src]="exploreCat.users[0]" alt="">
                </li>
                <li>
                  <img [src]="exploreCat.users[1]" alt="">
                </li>
                <li>
                  <img [src]="exploreCat.users[2]" alt="">
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-bookmark-sign bookmarked" [ngClass]="{bookmarked: exploreCat.bookmarked}" >
          <i class="icon-shield"></i>
        </div>
      </div>
    </div>
  </div>
</section>