<div class="wrapper">

  <!-- Sidebar -->
  <div class="sidebar sidebar-collapsed">
    <div class="sidebar-toggle">
      <a href="#">
        <i class="pe-7s-menu"></i>
      </a>
    </div>
    <div class="sidebar-nav">
      <ul class="list-unstyled">
        <li>
          <a href="">
            <i class="icon icon-document"></i>
            <span>My Articles</span>  
          </a>
        </li>        
        <li>
          <a href="">
            <i class="pe-7s-back-2"></i>
            <span>History</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="pe-7s-stopwatch"></i>
            <span>Pending</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="pe-7s-box1"></i>
            <span>Archive</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="pe-7s-note2"></i>
            <span>Archive</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="icon-file"></i>
            <span>Files</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main">
    <!-- header -->
    <header class="header">
      <nav class="navbar navbar-expand-md navbar-light bg-light px-4">
        <a href="#" class="navbar-brand">
          <img src="./assets/img/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainnavbar">
          <span class="navar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainnavbar">
          <ul class="navbar-nav pull-right ml-auto align-content-center">
            <li class="nav-item active">
              <a href="#" class="nav-link">
                <i class="icon pe-7s-search"></i>
              </a>
            </li>
            <li class="nav-item active">
              <a href="#" class="nav-link">
                <i class="icon pe-7s-paper-plane"></i>
              </a>
            </li>
            <li class="nav-item active">
              <a href="#" class="nav-link">
                <i class="icon pe-7s-plus"></i>
              </a>
            </li>
            <li class="nav-item active">
              <a href="#" class="nav-link">
                <i class="icon pe-7s-bell"></i>
              </a>
            </li>
            <li class="nav-item active">
              <a href="#" class="nav-link user-circle">
                <!-- <img src="./assets/img/user1.png" alt=""> -->
                <span>SR</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="main-content">
      <div class="container-fluid px-4 my-3">

        <!-- explore category section -->
        <section class="explore-category">
          <div class="section-title">
            <h1>Explore Category</h1>
            <div class="sorting-on-title form-group d-inline-block">
          
              <div class="select-container">
                <ng-select [searchable]="false" [(ngModel)]="selectedSort">
                  <ng-option *ngFor="let sort of sorts" [value]="sort.id">{{sort.name}}</ng-option>
                </ng-select>
              </div>
              <label for="select1" class="">Sort By: </label>
            </div>
          </div>
          <div class="section-content row mt-4">
            <div class="col-lg-3 mb-4">
              <div class="card category-card">
                <div class="card-body">
                  <h4 class="card-title mb-4 text-uppercase">
                    Operations
                  </h4>
                  <div class="category-stats">
                    <div class="category-stat_item">
                      <h5>500</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Article
                      </h5>
                    </div>
                    <div class="category-stat_item">
                      <h5>10</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Videos
                      </h5>
                    </div>
                    <div class="category-stat_item">
                      <h5>209</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Viewed
                      </h5>
                    </div>
                    
                    <div class="category-stat_users">
                      <ul class="list-unstyled list-inline">
                        <li>
                          <img src="./assets/img/user3.png" alt="">
                        </li>
                        <li>
                          <img src="./assets/img/user1.png" alt="">
                        </li>
                        <li>
                          <img src="./assets/img/user2.png" alt="">
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-bookmark-sign bookmarked">
                  <i class="pe-7s-shield"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-3 mb-4">
              <div class="card category-card">
                <div class="card-body">
                  <h4 class="card-title mb-4 text-uppercase">
                    Operations
                  </h4>
                  <div class="category-stats">
                    <div class="category-stat_item">
                      <h5>500</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Article
                      </h5>
                    </div>
                    <div class="category-stat_item">
                      <h5>10</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Videos
                      </h5>
                    </div>
                    <div class="category-stat_item">
                      <h5>209</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Viewed
                      </h5>
                    </div>
                    
                    <div class="category-stat_users">
                      <ul class="list-unstyled list-inline">
                        <li>
                          <img src="./assets/img/user3.png" alt="">
                        </li>
                        <li>
                          <img src="./assets/img/user1.png" alt="">
                        </li>
                        <li>
                          <img src="./assets/img/user2.png" alt="">
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-bookmark-sign bookmarked">
                  <i class="pe-7s-shield"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-3 mb-4">
              <div class="card category-card">
                <div class="card-body">
                  <h4 class="card-title mb-4 text-uppercase">
                    Operations
                  </h4>
                  <div class="category-stats">
                    <div class="category-stat_item">
                      <h5>500</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Article
                      </h5>
                    </div>
                    <div class="category-stat_item">
                      <h5>10</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Videos
                      </h5>
                    </div>
                    <div class="category-stat_item">
                      <h5>209</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Viewed
                      </h5>
                    </div>
                    
                    <div class="category-stat_users">
                      <ul class="list-unstyled list-inline">
                        <li>
                          <img src="./assets/img/user3.png" alt="">
                        </li>
                        <li>
                          <img src="./assets/img/user1.png" alt="">
                        </li>
                        <li>
                          <img src="./assets/img/user2.png" alt="">
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-bookmark-sign bookmarked">
                  <i class="pe-7s-shield"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-3 mb-4">
              <div class="card category-card">
                <div class="card-body">
                  <h4 class="card-title mb-4 text-uppercase">
                    Operations
                  </h4>
                  <div class="category-stats">
                    <div class="category-stat_item">
                      <h5>500</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Article
                      </h5>
                    </div>
                    <div class="category-stat_item">
                      <h5>10</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Videos
                      </h5>
                    </div>
                    <div class="category-stat_item">
                      <h5>209</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Viewed
                      </h5>
                    </div>
                    
                    <div class="category-stat_users">
                      <ul class="list-unstyled list-inline">
                        <li>
                          <img src="./assets/img/user3.png" alt="">
                        </li>
                        <li>
                          <img src="./assets/img/user1.png" alt="">
                        </li>
                        <li>
                          <img src="./assets/img/user2.png" alt="">
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-bookmark-sign">
                  <i class="pe-7s-shield"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-3 mb-4">
              <div class="card category-card">
                <div class="card-body">
                  <h4 class="card-title mb-4 text-uppercase">
                    Operations
                  </h4>
                  <div class="category-stats">
                    <div class="category-stat_item">
                      <h5>500</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Article
                      </h5>
                    </div>
                    <div class="category-stat_item">
                      <h5>10</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Videos
                      </h5>
                    </div>
                    <div class="category-stat_item">
                      <h5>209</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Viewed
                      </h5>
                    </div>
                    
                    <div class="category-stat_users">
                      <ul class="list-unstyled list-inline">
                        <li>
                          <img src="./assets/img/user3.png" alt="">
                        </li>
                        <li>
                          <img src="./assets/img/user1.png" alt="">
                        </li>
                        <li>
                          <img src="./assets/img/user2.png" alt="">
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-bookmark-sign">
                  <i class="pe-7s-shield"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-3 mb-4">
              <div class="card category-card">
                <div class="card-body">
                  <h4 class="card-title mb-4 text-uppercase">
                    Operations
                  </h4>
                  <div class="category-stats">
                    <div class="category-stat_item">
                      <h5>500</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Article
                      </h5>
                    </div>
                    <div class="category-stat_item">
                      <h5>10</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Videos
                      </h5>
                    </div>
                    <div class="category-stat_item">
                      <h5>209</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Viewed
                      </h5>
                    </div>
                    
                    <div class="category-stat_users">
                      <ul class="list-unstyled list-inline">
                        <li>
                          <img src="./assets/img/user3.png" alt="">
                        </li>
                        <li>
                          <img src="./assets/img/user1.png" alt="">
                        </li>
                        <li>
                          <img src="./assets/img/user2.png" alt="">
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-bookmark-sign">
                  <i class="pe-7s-shield"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-3 mb-4">
              <div class="card category-card">
                <div class="card-body">
                  <h4 class="card-title mb-4 text-uppercase">
                    Operations
                  </h4>
                  <div class="category-stats">
                    <div class="category-stat_item">
                      <h5>500</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Article
                      </h5>
                    </div>
                    <div class="category-stat_item">
                      <h5>10</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Videos
                      </h5>
                    </div>
                    <div class="category-stat_item">
                      <h5>209</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Viewed
                      </h5>
                    </div>
                    
                    <div class="category-stat_users">
                      <ul class="list-unstyled list-inline">
                        <li>
                          <img src="./assets/img/user3.png" alt="">
                        </li>
                        <li>
                          <img src="./assets/img/user1.png" alt="">
                        </li>
                        <li>
                          <img src="./assets/img/user2.png" alt="">
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-bookmark-sign">
                  <i class="pe-7s-shield"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-3 mb-4">
              <div class="card category-card">
                <div class="card-body">
                  <h4 class="card-title mb-4 text-uppercase">
                    Operations
                  </h4>
                  <div class="category-stats">
                    <div class="category-stat_item">
                      <h5>500</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Article
                      </h5>
                    </div>
                    <div class="category-stat_item">
                      <h5>10</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Videos
                      </h5>
                    </div>
                    <div class="category-stat_item">
                      <h5>209</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Viewed
                      </h5>
                    </div>
                    
                    <div class="category-stat_users">
                      <ul class="list-unstyled list-inline">
                        <li>
                          <img src="./assets/img/user3.png" alt="">
                        </li>
                        <li>
                          <img src="./assets/img/user1.png" alt="">
                        </li>
                        <li>
                          <img src="./assets/img/user2.png" alt="">
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-bookmark-sign">
                  <i class="pe-7s-shield"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-3 mb-4">
              <div class="card category-card">
                <div class="card-body">
                  <h4 class="card-title mb-4 text-uppercase">
                    Operations
                  </h4>
                  <div class="category-stats">
                    <div class="category-stat_item">
                      <h5>500</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Article
                      </h5>
                    </div>
                    <div class="category-stat_item">
                      <h5>10</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Videos
                      </h5>
                    </div>
                    <div class="category-stat_item">
                      <h5>209</h5>
                      <h5 class="font-weight-light text-uppercase mb-0">
                        Viewed
                      </h5>
                    </div>
                    
                    <div class="category-stat_users">
                      <ul class="list-unstyled list-inline">
                        <li>
                          <img src="./assets/img/user3.png" alt="">
                        </li>
                        <li>
                          <img src="./assets/img/user1.png" alt="">
                        </li>
                        <li>
                          <img src="./assets/img/user2.png" alt="">
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-bookmark-sign">
                  <i class="pe-7s-shield"></i>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <!-- Videos Section -->
        <section class="videos-section">
          <div class="section-title mb-4">
            <h1>Videos</h1>
            <button class="btn btn-secondary float-right ml-2" type="button">View All Videos</button>
            <div class="sorting-on-title form-group d-inline-block">
              <div class="select-container">
                <ng-select [searchable]="false" [(ngModel)]="selectedSort">
                  <ng-option *ngFor="let sort of sorts" [value]="sort.id">{{sort.name}}</ng-option>
                </ng-select>
              </div>
              <label for="select1" class="">Sort By: </label>
            </div>            
          </div>
          <div class="section-content">
            <owl-carousel [options]="{items: 4, dots: false, margin: 15, navigation: false}"  >
              <div class="item">
                <div class="card">
                  <img src="./assets/img/video-thumb.jpg" alt="" class="card-img-top">
                  <div class="card-body">
                    <h3>Foundational Principles preview</h3>
                    <p class="font-weight-light post-meta text-black-50 mb-0">86K views - 1 Year ago</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card">
                  <img src="./assets/img/video-thumb.jpg" alt="" class="card-img-top">
                  <div class="card-body">
                    <h3>Foundational Principles preview</h3>
                    <p class="font-weight-light post-meta text-black-50 mb-0">86K views - 1 Year ago</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card">
                  <img src="./assets/img/video-thumb.jpg" alt="" class="card-img-top">
                  <div class="card-body">
                    <h3>Foundational Principles preview</h3>
                    <p class="font-weight-light post-meta text-black-50 mb-0">86K views - 1 Year ago</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card">
                  <img src="./assets/img/video-thumb.jpg" alt="" class="card-img-top">
                  <div class="card-body">
                    <h3>Foundational Principles preview</h3>
                    <p class="font-weight-light post-meta text-black-50 mb-0">86K views - 1 Year ago</p>
                  </div>
                </div>
              </div>
            </owl-carousel>

            <div class="col-12 text-center mt-4">
              <button class="btn btn-secondary">Load More Videos</button>
            </div>
          </div>
        </section>
        

        <!-- Copyright Section -->
        <section class="copyright">
          <div class="row mt-4 pt-3">
            <div class="col text-center">
              <p class="font-weight-light post-meta-md text-black-50">Copyright 2018, Quarto</p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>