<div class="sidebar sidebar-collapsed">
  <div class="sidebar-toggle">
    <a href="#">
      <i class="icon-bar"></i>
    </a>
  </div>
  <div class="sidebar-nav">
    <ul class="list-unstyled">
      <li>
        <a href="">
          <i class="icon-document"></i>
          <span>My Articles</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="icon icon-history"></i>
          <span>History</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="icon icon-stop-watch"></i>
          <span>Pending</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="icon-box"></i>
          <span>Archive</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="icon-clip-board"></i>
          <span>Archive</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="icon-file"></i>
          <span>Files</span>
        </a>
      </li>
    </ul>
  </div>
</div>
